.half {
  width: 50%;
}

.flex {
  display: flex;
}

.space {
  padding: 1rem 0;
}

.col {
  width: 50%;
  flex: 1;
}

.full {
  width: 100%;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.third {
  width: 33%;
}

.twoThird {
  width: 66%;
}