.button {
  button {
    border: 0;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: all .5s ease;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .04em;
    color: #0098db;
    &:hover {
      color: darken(#0098db,10%);
      cursor: pointer;
    }
  }
}