h4 {
  font-weight: 600;
  font-size: 16px;
  color: inherit;
}

h5 {
  color: $light;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: .5em;
}

p {
  color: $light;
  font-size: 12px;
}

.doctor-item {
  align-items: flex-end;
  padding: 2em 1em;
  &:not(:last-child) {
    border-bottom: 1px solid lighten($light,90%);
  }
}