.KeyWordSearchContainer {
  input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 36px;
    padding: 0 10px;
    outline: none;
    font-size: 11px;
    width: 100%;
    box-sizing: border-box;
  }
}